@import 'variables';
@font-face {
    font-family: 'Montserrat';
    src: url(./assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*{
    font-family: 'Montserrat';
}
h1{
    color: $color1;
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
}
.categories{
    
    &__container{
        padding:20px;
        border: 1px solid $color6;
    }
    &__container:hover{
        background-color: $color1;
    }
    &__text{
        font-size: 18px;
    }
}
